* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Archivo", sans-serif;
}

body {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  overflow-x: hidden;
}

.head {
  background-color: #812f86;
  height: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head p {
  color: #fff;
  font-weight: bold;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  border-bottom: 1px solid #000;
  height: 4rem;
  width: 100%;
  padding-left: 2rem;
}

.navbar a {
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

main {
  width: 100%;
  position: relative;
}

.items-main {
  position: absolute;
  right: 15rem;
  top: 2rem;
  display: flex;
  gap: 17.5rem;
  align-items: flex-end;
}

main .rotulo img {
  width: 100vw;
}

.div-btn {
  margin-bottom: 5rem;
  transition: 0.5s;
}

.btn-buy {
  color: #5d1b66;
  background-color: #fff;
  font-size: 3rem;
  padding: 0.5rem 3rem;
  font-weight: bold;
  border-radius: 3rem;
  border: none;
  cursor: pointer;
  margin-top: 7rem;
  width: 35rem;
  transition: 0.5s;
}

.div-btn:hover {
  margin-bottom: 6rem;
}

.btn-buy:hover {
  color: #fff;
  background-color: #5d1b66;
}

.main-infos-right {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.main-infos-right img {
  width: 8rem;
  height: 8rem;
}

.main-infos-right p {
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
}

.main-infos-right div {
  width: 10rem;
}

@media screen and (max-width: 1030px) {}

@media screen and (max-width: 500px) {}

@media screen and (max-width: 400px) {}